
/* General */

body
{

}

hr
{
	margin:40px 0px;
}







/* Header & navbar */

#navbarCollapse
{
	
	justify-content: flex-end;
	padding-right: 30px;
} 

.navbar-brand
{
	font-size:22px;
}

.nav-link
{
	margin:0px 0.5vw; 
	
}


/* Fellows + carousel */


.container-fellows
{
	padding:0px !important;
	margin-top:34px !important;
}

.fellows-texts
{
	
	margin-top:40px;
	text-align-last: center;
}

.brackets
{
	font-size: 20px;
}

.pills
{
	display:flex;
	justify-content: center;
	
}

.badge
{
	margin:10px 1.5vw;
}

.cards
{
	display:flex;
	justify-content: space-around;
}

.card
{
	position:relative;
}

.btn
{
	padding:0px;
	margin:0px;
	border:none;
}




.card-img-top
{
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	
}

.card-img-top:hover
{
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
}

.reward
{
	position:absolute;
	top:3.5vh;
	left:3vw;
	right:3vw;
	border:none;
	border-radius:8px;
	font-size:30px;
	padding:3px 5px;
	background-color: white;
	opacity:0.8;
	text-align: center;
}

.dead
{
	position:absolute;
	top:8vh;
	left:3vw;
	right:3vw;
	text-align: center;
	color:red;
	font-weight: bold;
	font-size:55px;

}

.orange
{
	color:orange;
}

.card:hover .reward
{
	visibility:hidden;
}

.card:hover .dead
{
	visibility: hidden;
}


/* rewards section */

.reward-row
{

}

.reward-img
{
	display:flex;
	justify-content: center;
}

/* Best hunters section */

.row-hunters
{
	justify-content: center;
}

.hunter-col
{
	display: flex;
	justify-content: center;
}

.media
{
	margin:10px 5px;
}




