
/* General */

body
{

}








/* Header & navbar */

#navbarCollapse
{
	
	justify-content: flex-end;
	padding-right: 30px;
} 

.navbar-brand
{
	font-size:22px;
}

.nav-link
{
	margin:0px 0.5vw; 
	
}


/* Fellows */


.container-fellows
{
	padding:0px !important;
	margin-top:34px !important;
}

.fellows-texts
{
	
	margin-top:40px;
	text-align-last: center;
}

.brackets
{
	font-size: 20px;
}

.pills
{
	display:flex;
	justify-content: center;
	
}

.badge
{
	margin:10px 1.5vw;
}

.cards
{
	display:flex;
	justify-content: space-around;
}









